@page "{id:int}"

@using WordleTracker.Data.Models
@model WordleTracker.Web.Pages.GroupModel
@{
	ViewData["Title"] = $"{Model.Name}";
}

@if (Model.CanEditName)
{
	<div>
		<span asp-validation-for="Name" id="update-group-name-error" class="text-danger fs-small"></span>
		<h1 id="view-group-name" class="editable">@Model.Name</h1>
	</div>

	<form id="edit-group-name" method="post" asp-page-handler="GroupName" class="d-none">
		<h1 class="input-group">
			<input type="text" asp-for="Name" id="edit-group-name-input" class="form-control inherit-font" title="Edit group name" tabindex="0" />
			<a id="undo-edit-group-name" class="input-group-text btn btn-outline-dark" title="Undo" tabindex="1">
				<i class="fa-solid fa-rotate-left"></i>
			</a>
		</h1>
	</form>
}
else
{
	<h1>@Model.Name</h1>
}

@if (Model.AssignableRoles.Any())
{
	<form method="post" class="mb-4">
		<div class="row">
			<div class="col-5">
				<input asp-for="NewMemberId" class="form-control" />
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
		<div>
			<span asp-validation-for="NewMemberId" class="text-danger"></span>
		</div>
		<input type="hidden" asp-for="Id" />
	</form>
}

<table class="table table-light table-bordered">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Role</th>
			<th scope="col">Solutions</th>
			<th scope="col">Solution Rate</th>
			<th scope="col">Average success</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model.Members)
		{
			<tr>
				<td title=@member.Id>
					@member.Name
					@if (Model.AssignableRoles.Contains(member.Role))
					{
						<i class="fa-solid fa-user-xmark pointer" data-id="@member.Id" data-action="remove-user" title="Remove user"></i>
					}
				</td>
				<td>@member.Role</td>
				<td>@member.SolutionCount</td>
				<td>@member.SolutionRate.ToString("P0")</td>
				<td>@member.SolutionAverage</td>
			</tr>
		}
	</tbody>
</table>

<input asp-for="Id" type="hidden" />

@section Scripts
{
	<script src="~/js/group/updateGroupName.js" asp-append-version="true"></script>
	<script src="~/js/group/removeUser.js" asp-append-version="true"></script>
}
