@page "{id:int}"

@using WordleTracker.Data.Models
@model WordleTracker.Web.Pages.GroupModel
@{
	ViewData["Title"] = $"{Model.Name}";
}

@if (Model.CanEditName)
{
	<div>
		<span asp-validation-for="Name" id="update-group-name-error" class="text-danger fs-small"></span>
		<h1 id="view-group-name" class="editable d-none d-sm-block">
			@Model.Name
		</h1>
		<a id="view-group-name-narrow" href="#" class="h1 text-decoration-none text-body d-sm-none" title="Edit group name" data-bs-toggle="modal" data-bs-target="#group-name-modal">
			@Model.Name
		</a>
	</div>

	<form id="edit-group-name" method="post" asp-page-handler="GroupName" class="d-none">
		<h1 class="input-group">
			<input type="text" asp-for="Name" id="edit-group-name-input" class="form-control inherit-font" title="Edit group name" tabindex="0" />
			<a id="undo-edit-group-name" class="input-group-text btn btn-outline-dark" title="Undo" tabindex="1">
				<i class="fa-solid fa-rotate-left"></i>
			</a>
		</h1>
	</form>
}
else
{
	<h1>@Model.Name</h1>
}

@if (Model.AssignableRoles.Any())
{
	<form method="post" class="mb-4">
		<div class="row">
			<div class="col-5">
				<input asp-for="NewMemberId" class="form-control" />
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
		<div>
			<span asp-validation-for="NewMemberId" class="text-danger"></span>
		</div>
		<input type="hidden" asp-for="Id" />
	</form>
}

<table class="table table-light table-bordered">
	<thead>
		<tr>
			@if (Model.AssignableRoles.Any())
			{
				<th scope="col"></th>
			}
			<th scope="col">Name</th>
			<th scope="col">Role</th>
			<th scope="col">Solutions</th>
			<th scope="col">Solution Rate</th>
			<th scope="col">Average success</th>
			@for (int i = 1; i <= 6; ++i)
			{
				<th scope="col">@($"{i} guess{(i == 1 ? "" : "es")}")</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model.Members)
		{
			<tr>
				@if (Model.AssignableRoles.Any())
				{
					<td>
						@if (Model.AssignableRoles.Contains(member.Role))
						{
							<i class="fa-solid fa-user-xmark pointer" data-id="@member.Id" data-action="remove-user" title="Remove user"></i>
						}
				</td>
				}
				<td title=@member.Id>@member.Name</td>
				<td>@member.Role</td>
				<td>@member.SolutionCount</td>
				<td>@member.SolutionRate.ToString("P0")</td>
				<td>@Math.Round(member.SolutionAverage, 3, MidpointRounding.ToZero).ToString("F3")</td>
				@for (var i = 1; i <= 6; ++i)
				{
					<td>@member.ResultSplits[i]</td>
				}
			</tr>
		}
	</tbody>
</table>

<div id="group-name-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit group name</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="edit-group-name-modal" method="post" asp-page-handler="GroupName">
					<div class="input-group">
						<input type="text" asp-for="Name" id="edit-group-name-input-modal" class="form-control" title="Edit group name" tabindex="0" />
						@* Prevents form submission upon enter being pressed *@
						<button type="submit" class="d-none" disabled="disabled" aria-hidden="true"></button>
					</div>
				</form>
				<span asp-validation-for="Name" id="update-group-name-error-modal" class="text-danger"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn secondary" data-bs-dismiss="modal">Cancel</button>
				<button id="save-group-name" type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

<input asp-for="Id" type="hidden" />

@section Scripts
{
	<script src="~/js/group/updateGroupName.js" asp-append-version="true"></script>
	<script src="~/js/group/removeUser.js" asp-append-version="true"></script>
}
