@page "{id:int}"

@using WordleTracker.Data.Models
@model WordleTracker.Web.Pages.GroupModel
@{
	ViewData["Title"] = $"{Model.Name}";
}

<h1>@Model.Name</h1>

@if (Model.AssignableRoles.Any())
{
	<form method="post" class="mb-4">
		<div class="row">
			<div class="col-5">
				<input asp-for="NewMemberId" class="form-control" />
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
		<div>
			<span asp-validation-for="NewMemberId" class="text-danger"></span>
		</div>
		<input type="hidden" asp-for="Id" />
	</form>
}

<table class="table table-light table-bordered">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Role</th>
			<th scope="col">Solutions</th>
			<th scope="col">Solution Rate</th>
			<th scope="col">Average success</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model.Members)
		{
			<tr>
				<td title=@member.Id>
					@member.Name
					@if (Model.AssignableRoles.Contains(member.Role))
					{
						<i class="fa-solid fa-user-xmark pointer" data-id="@member.Id" data-action="remove-user" title="Remove user"></i>
					}
				</td>
				<td>@member.Role</td>
				<td>@member.SolutionCount</td>
				<td>@member.SolutionRate.ToString("P0")</td>
				<td>@member.SolutionAverage</td>
			</tr>
		}
	</tbody>
</table>

<input asp-for="Id" type="hidden" />

@section Scripts
{
	<script src="~/js/group/removeUser.js" asp-append-version="true"></script>
}
